$kindergarten-blue: #d0effc;
$kindergarten-blue-active: #14b1ef;

@import "../../scaffolding/shoptet/variables-bootstrap";
@import "../../scaffolding/vendor/bs/scss/functions";
@import "../../scaffolding/vendor/bs/scss/variables";
@import "../../scaffolding/shoptet/variables-shoptet";
@import "../../scaffolding/vendor/bs/scss/mixins";

@import "modules/variables";

/* Change end */
body {
    background: #fff;
}

#navigation {
    display: none;
    visibility: hidden;
}

.section-claim {
    @media (max-width: map-get($grid-breakpoints, 'md') - 1) {
        .claim-inner {
            margin-left: auto;
            margin-right: auto;
        }
    }

    @media (max-width: map-get($grid-breakpoints, 'sm') - 1) {
        display: none;
        visibility: hidden;
    }
}

.header-inner > div.header-search {
    @media (max-width: map-get($grid-breakpoints, 'md') - 1) {
        max-width: 100%;
    }
}

.claim-secondary {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
}

.section-primary {
    border: none;
}

/* CUSTOM STYLES */
.section-tertiary {
    background: #fff;
    padding-top: 0;
    padding-bottom: 0;
}

.content-container {
    border: 1px solid $kindergarten-blue;
    border-radius: 10px;
    padding: ($spacer / 1.25) ($spacer / 1.25) ($spacer / 2);

    @media (max-width: map-get($grid-breakpoints, 'md') - 1) {
        padding: ($spacer / 1.5) ($spacer / 1.5) ($spacer / 2);
    }

    @media (max-width: map-get($grid-breakpoints, 'sm') - 1) {
        padding: $spacer / 2;
    }

    &:after {
        clear: both;
        content: "";
        display: block;
    }
}

/* KINDERGARTEN MENU */
.responsive-nav.shp-kindergarten-menu {
    margin-top: 0;
    position: relative;

    ul.visible-links {
        margin: 0 auto;
        padding: 0;
        @media (max-width: map-get($grid-breakpoints, 'lg') - 1) {
            margin: 0 0 0 8px;
        }
        &:after {
            clear: both;
        }

        li {
            list-style-type: none;
            vertical-align: bottom;

            a {
                padding: 10px 25px;
                margin: 0 1px;
                font-weight: normal;
                font-size: 16px;
                color: #1f1f1f;
                background: $kindergarten-blue;
                display: block;
                white-space: nowrap;

                @media (max-width: map-get($grid-breakpoints, 'md') - 1) {
                    padding: 5px 15px;
                }
            }

            &.current-menu-item a {
                background: $kindergarten-blue-active;
                padding: 15px 35px;
                border-radius: 10px 10px 0 0;
                color: #fff;
                margin-bottom: -1px;

                @media (max-width: map-get($grid-breakpoints, 'md') - 1) {
                    padding: 10px 10px;
                }

                &:before {
                    color: #fff;
                }
            }

            &:first-child a {
                border-top-left-radius: 10px;
            }

            &:last-child a {
                border-top-right-radius: 10px;
            }
        }
    }

    &.responsive-nav .navigation-btn {
        top: unset;
        bottom: 0;
        height: 85%;
        border-radius: 5px;
        @media (max-width: map-get($grid-breakpoints, 'md') - 1) {
            height: 80%;
        }
    }

    .hidden-links {
        a {
            padding: 10px 25px;
            font-weight: normal;
            font-size: 14px;
            color: #1f1f1f;
            background: $kindergarten-blue;
            display: block;
        }
    }
}
