$fa-font-path: "../../../scaffolding/vendor/fa/webfonts";
$claim-bg-image: url('../img/claim.png');
$colorbox-path: "../../../scaffolding/img/colorbox/";

@import "../../scaffolding/shoptet";
@import "modules/variables";
